<ion-header>

  
  <ion-navbar color="primary">
    <ion-title>Documentos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <div class="select" (click)="takePicture()"> 
        <ion-icon color="primary" class="icone_tam" name="clipboard"></ion-icon>
        <ion-icon color="primary" class="icone" name="add"></ion-icon>
       <p>Selecione somente arquivos em formato PDF. </p>
   </div>
   <ion-list class="list-documentos" >
    <ion-item *ngFor="let doc of docs" >
      <h2 (click)="viewPDF(doc.doc_link)"> {{ doc.file_name }}</h2>
      <button  ion-fab mini item-end  (click)="showConfirm(doc.id)" *ngIf="doc.id"><ion-icon name="trash" ></ion-icon></button>
    </ion-item>
  </ion-list>
  
</ion-content>
<ion-footer> 
  <ion-toolbar color="primary">
      <a class="bt-cadatro"  color="primary" (click)="enviar()">PUBLICAR</a>
  </ion-toolbar>
</ion-footer>