
page-home {
   
    .fundo{
        background: #000;
        height: 100%;
        width: 100%;
        ion-card{
           margin-top: 10%;
          
           background: #000;
           ion-card-title{
               color: #fff;
               text-align: center;
           }
           ion-card-title{
               font-size: 12px;
           }
            img{
               display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;
            }
        }
       
        button#button-white{
           background: #fff;
           color: black;   
           margin-top: 5%;  
       }
      
       .social-share{
           text-align: center;
           margin-top: 5%;
       }
       
    }
    .text-input {
        text-align: center;
        font-size: xx-large;
        text-transform: uppercase;
    }
    .scroll-content {
    padding-bottom: 0 !important;
    margin-top: 38px;
    margin-bottom: 56px;
    }
    ion-footer {
        left: 0;
        bottom: 0;
        position: fixed;
        z-index: 10;
        display: block;
        width: 100%;
        overflow: inherit;
        height: 50px;
        background: #000;
        color: #fff;
        .toolbar {
            height: 55px;
            min-height: 55px;
           
            .toolbar-background{
                background: #000;
            }
        color: #fff;
            font: bold;
            text-align: center;
        span{
            color: #fff;
            font: bold;
            text-align: left;
            font-size: 13px;
        }
        &.adquire-code{
            text-align: center;
            color:#fff;
            font-size: 12px;
            margin-top: 5%;
        }
      }
    }
   }
   