page-enquete-graph {
    .scroll-content {
        padding: 80px 0 0 0;
        margin-top: 0 !important;
        background: rgb(5, 32, 73) !important;
        background: -moz-linear-gradient(-45deg, rgba(5, 32, 73,1) 0%, rgb(0, 0, 0) 100%) !important;
        background: -webkit-linear-gradient(-45deg, rgba(5, 32, 73 ,1) 0%, rgb(0, 0, 0) 100%) !important;
        background: linear-gradient(135deg, rgba(5, 32, 73, 1) 0%, rgb(0, 0, 0) 100%) !important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001cf5', endColorstr='#00bffa', GradientType=1);
        > h2 {
            padding: 0 20px;
            text-align: center;
            font-size: 1.3em;
            text-shadow: 0 0 20px #000;
            margin: 0;
            color: white;
        }
        > h1 {
            padding: 0 20px;
            text-align: center;
            font-size: 1.8em;
            text-shadow: 0 0 20px #000;
            margin: 10px 0 0 0;
            font-weight: bold;
            color: white;
        }
    }
    .bt-fechar {
        background: rgba(255, 255, 255, 0.966);
        box-shadow: none;
        position: absolute;
        right: 10px;
        top: 10px;
        margin: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 0.7em;
        color: #000;
        icon{
            color: #000;
        }
    }
}
