page-enquete-list {
    .searchbar .searchbar-clear-icon {
        background-size: 15px;
        background-color: transparent;
    }
    .fab[mini] {
        margin: 7px 0px 0px 10px;
        width: 45px;
        height: 45px;
        line-height: 27px;
        float: right;
        -webkit-box-shadow: none;
        box-shadow: none;
        ion-icon {
            font-size: 2.8em
        }
    }
    .fab {
        background: rgb(5, 32, 73) !important;
        background: -moz-linear-gradient(-45deg, rgba(5, 32, 73,1) 0%, rgb(0, 0, 0) 100%) !important;
        background: -webkit-linear-gradient(-45deg, rgba(5, 32, 73 ,1) 0%, rgb(0, 0, 0) 100%) !important;
        background: linear-gradient(135deg, rgba(5, 32, 73, 1) 0%, rgb(0, 0, 0) 100%) !important;
    }   
    .button {
        background: transparent;
   
    }
    .box-list{
        ion-badge {
       
            background: rgb(5, 32, 73) !important;
            background: -moz-linear-gradient(-45deg, rgba(5, 32, 73,1) 0%, rgb(0, 0, 0) 100%) !important;
            background: -webkit-linear-gradient(-45deg, rgba(5, 32, 73 ,1) 0%, rgb(0, 0, 0) 100%) !important;
            background: linear-gradient(135deg, rgba(5, 32, 73, 1) 0%, rgb(0, 0, 0) 100%) !important;
            color: #fff;
            width: 100%;
            font-size: 11px;
                text-transform: uppercase;
                margin-top: 3px;
                padding:7px 5px 5px 5px;
                border-radius: 40px !important;
        }
      
    
}
  .botoes{
    p{
        text-align: center;
        padding: 5px;
        font-size: 9px;
        color: black;
        font: bold;

    }
  }
   
    .fab {
        background: rgb(5, 32, 73) !important;
        background: -moz-linear-gradient(-45deg, rgba(5, 32, 73,1) 0%, rgb(0, 0, 0) 100%) !important;
        background: -webkit-linear-gradient(-45deg, rgba(5, 32, 73 ,1) 0%, rgb(0, 0, 0) 100%) !important;
        background: linear-gradient(135deg, rgba(5, 32, 73, 1) 0%, rgb(0, 0, 0) 100%) !important;
    }      
    p{
        text-transform: uppercase;
        &.not-code{
            text-align: center;
            padding: 10px;
        }
    }        
    .card-content img {
        border-radius: 3px;
        height: 60px;
       // margin-top: 0px;
    }
    @media (min-width: 0px) {
        .fab[mini] {
            width: 40px;
            height: 40px;
            line-height: 27px;
            float: right;
            -webkit-box-shadow: none;
            box-shadow: none;
            ion-icon {
                font-size: 2em
            }
        }
    }
 
    @media (min-width: 420px) {
        .fab[mini] {
            width: 33px;
            height: 33px;
            line-height: 23px;
            float: right;
            -webkit-box-shadow: none;
            box-shadow: none;
            ion-icon {
                font-size: 1.8em
            }
        }
    }
 
    @media (min-width: 720px) {
        .fab[mini] {
            width: 30px;
            height: 30px;
            line-height: 20px;
            float: right;
            -webkit-box-shadow: none;
            box-shadow: none;
            ion-icon {
                font-size: 1.5em
            }
        }
    }
}
