<ion-content class="pg-avaliacao">
  <button ion-button icon-only (click)="fecharAvaliacao()" class="bt-fechar">
        <ion-icon name="close"></ion-icon>
    </button>

  <h2>Envie uma notificação Push</h2><br>
    <form class="" [formGroup]="pushForm">
      <ion-list class="index-formularios">
            <ion-item>
              <ion-label>
                  <ion-icon name="pricetag" color="primary"></ion-icon>
              </ion-label>
              <ion-input name="titulo" type="text" [(ngModel)]="model.titulo" formControlName="titulo" placeholder="Informe o Título"></ion-input>
          </ion-item>
          <div><p *ngIf="errorTitulo" class="error"> {{messageTitulo}}</p></div>
          <ion-item>
            <ion-label>
                <ion-icon name="list-box" color="primary"></ion-icon>
            </ion-label>
            <ion-input name="mensagem" type="text" [(ngModel)]="model.mensagem" formControlName="mensagem" placeholder="Informe a mensagem"></ion-input>
        </ion-item>
        <div><p *ngIf="errorMessagem" class="error"> {{messageMessagem}}</p></div>
      </ion-list>
  </form> 
  <div> 
    
       
          <ion-grid>
              <ion-row>
                  <ion-col col-6>
                      <button ion-button block (click)="createPusg()" class="facebook">Enviar</button>  
                  </ion-col>
                  <ion-col col-6>
                      <button ion-button block (click)="fecharAvaliacao()" class="bt-voltar">Cancelar</button>  
                  </ion-col>
              </ion-row>
          </ion-grid>   
  </div>

</ion-content>
